.jumbotron{
    background-image: url("./friends.png");
    padding: 20px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: 'Gloria Hallelujah', cursive;
}
#plot {
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}
h1 {
    text-align: center;
}
h2 {
    padding: 20px;
}

body {
    opacity: 70%;
}